novaaplicacao/novaaplicacaoWeb/generated/resources/wsdl/BlankSoap_schema1.xsd

<xs:schema xmlns:tns="http://soap.servicos.novaaplicacao.testegit.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://soap.servicos.novaaplicacao.testegit.com.br/">
  <xs:element name="RetornoServicos" type="tns:retornoServicosNomeDaAplicacao"/>
  <xs:element name="someMethod" type="tns:someMethod"/>
  <xs:element name="someMethodResponse" type="tns:someMethodResponse"/>
  <xs:complexType name="someMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="chassi" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="someMethodResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:retornoServicosNomeDaAplicacao"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retornoServicosNomeDaAplicacao">
    <xs:sequence>
      <xs:element name="operacaoOK" type="xs:boolean"/>
      <xs:element name="numRetorno" type="xs:long"/>
      <xs:element name="codErro" type="xs:int"/>
      <xs:element minOccurs="0" name="dscErro" type="xs:string"/>
      <xs:element minOccurs="0" name="retornoDao" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
